{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Load Report</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/main.css" /> -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/flatpickr.min.css" rel="stylesheet">
    <script src="static/htmx.min.js"></script>
    <script src="static/css/yearPicker.js" defer></script>
    <script src="static/index.js"></script>
    <title>Load Report</title>
</head>

<body hx-get="/station-list" hx-target="#station-list" hx-trigger="load" hx-swap="outerHTML">

    {{template "navbar"}}
    <div hx-get="/bay-list" hx-target="#bay-list" name="station" hx-trigger="load" hx-swap="innerHTML"></div>

    <div>
        <div id="content" class="flex">
        </div>
    </div>

    <script src="/static/flatpickr.min.js"></script>
  <script>
        // Function to initialize Flatpickr on specific elements
        function initializeFlatpickr(target) {
            flatpickr(target, {
                dateFormat: "d-m-Y", // Custom date format
                onChange: function(selectedDates, dateStr, instance) {
                    // Trigger HTMX manually when a date is selected
                    target.dispatchEvent(new Event('change', { bubbles: true }));
                }
            });
        }

        // Initialize Flatpickr on page load
        document.addEventListener('DOMContentLoaded', function () {
            const input = document.querySelector('#datepicker-format');
            if (input) {
                initializeFlatpickr(input);
            }
        });

        // Reinitialize Flatpickr after HTMX content updates
        document.body.addEventListener('htmx:afterSwap', function (event) {
            // Check if the swapped content contains the date-picker input
            const newInput = event.target.querySelector('#datepicker-format');
            if (newInput) {
                initializeFlatpickr(newInput);
            }
        });
    </script>

</body>

</html>
{{ end }}