{{ block "navbar" .}}
<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="">
        <a class="flex left-0">
            <img src="/static/css/icons/image.png" class="h-12" alt="Flowbite Logo" />
            <span
                class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white text-purple-700">PEA</span>
        </a>
        <div class="flex space-x-2">
            <div class="flex space-x-2">
                {{template "time-list"}}
                {{template "station-list" .}}
                {{template "bay-list" .}}

            </div>
            <div class="relative max-w-sm" id="select-date">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                    </svg>
                </div>
                <div id="date-picker-input">
                    <input id="datepicker-format" name="time" type="text" hx-get="/data" hx-trigger="change"
                        hx-target="#content" hx-swap="innerHTML" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                                focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 flatpickr-input"
                        placeholder="Select date">
                </div>

            </div>



            <div>
                <form action="/export-pdf">
                    <button type="submit"
                        class="bg-red-500 hover:bg-red-700 text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center">
                        PDF
                    </button>
                </form>
            </div>
            <div>
                <form action="/export-excel">
                    <button type="submit"
                        class="bg-red-500 hover:bg-red-700 text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center">
                        EXCEL
                    </button>
                </form>
            </div>


        </div>

    </div>
</nav>
<script>
    const dateInput = document.getElementById("datepicker-format");

    dateInput.addEventListener("change", function () {
        const inputDate = new Date(this.value);
        if (!isNaN(inputDate)) {
            const formattedDate = inputDate.toLocaleDateString("en-GB"); // Format as dd/mm/yyyy
            console.log("Selected date in dd/mm/yyyy format:", formattedDate);
            // Optionally, update the input field's value with the formatted date (if needed):
            // this.value = formattedDate; // Not recommended for type="date"
        }
    });
</script>

{{ end }}