{{ block "navbar" .}}
<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="">
        <a class="flex left-0">
            <img src="/static/css/icons/image.png" class="h-12" alt="Flowbite Logo" />
            <span
                class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white text-purple-700">PEA</span>
        </a>
        <div class="flex space-x-2">
            <div class="flex space-x-2">
                {{template "time-list"}}
                {{template "station-list" .}}
                {{template "bay-list" .}}

            </div>
            <div class="relative max-w-sm" id="select-date">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                    </svg>
                </div>
                <div id="date-picker-input">
                    <input id="datepicker" name="time" type="date" hx-get="/data" hx-trigger="change" hx-target="#content" hx-swap="innerHTML" 
                    hx-include="#datepicker"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Select date">
                </div>
                
            </div>

            <form action="/export-pdf">
                <button type="submit"
                    class="bg-purple-500 hover:bg-purple-700 text-white font-bold w-20 h-12 rounded-full">
                    PDF
                </button>
            </form>
            <form action="/export-excel">
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold w-20 h-12 rounded-full">
                    EXCEL
                </button>
            </form>





        </div>

    </div>
</nav>


{{ end }}