{{ block "new-monthly" .}}
<div hx-get="/monthly-rows" hx-target="#monthly-rows" hx-swap="innterHTML" hx-trigger="load"></div>

<div class="flex">
    <div class="flex-2">
        <div>
            <!-- {{template "monthly-table-day" .}} -->
        </div>
        <div>
            <!-- {{template "monthly-table-night" .}}
            {{template "monthly-table-all" .}} -->
        </div>


    </div>
</div>

{{ end }}



{{ block "monthly-rows" .}}
<div hx-get="/time-picker" hx-target="#date-picker-input" hx-swap="outerHTML" hx-trigger="load"></div>
<div hx-get="/bay-list" hx-target="#bay-list" name="station" hx-trigger="load" hx-swap="innerHTML"></div>
<div>
    <div class="flex start-0">
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-3xl lg:text-3xl "><span
                class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Monthly Load
                Report</span>
        </h1>
    </div>
    <div id="monthly-rows">
        <table>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                        <tr>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center " colspan="10">
                                <span
                                    class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                                    DAY TIME PEAK</span>

                            </th>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="10">
                                <span
                                    class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                                    NIGHT TIME PEAK</span>

                            </th>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="11">
                                <span
                                    class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                                    DAY&NIGHT LIGHT LOAD</span>

                            </th>
                        </tr>
                        <tr>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="8">
                                08:00-15:30
                            </th>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="8">
                                00:00-07:30,16:00-23:30
                            </th>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="9">
                                00:00-23:30
                            </th>
                        </tr>
                        <tr>
                            <th class="px-6 py-3">
                                TP1/25MVA
                                TP2/25MVA
                            </th>

                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Time
                            </th>

                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Vab (kV)
                            </th>
                            <th scope="col" class="px-6 py-">
                                Vbc (kV)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Vca (kV)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ia
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Ib
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ic
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                MW
                            </th>
                            <th scope="col" class="px-6 py-3 ">
                                MVAR
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Time
                            </th>

                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Vab (kV)
                            </th>
                            <th scope="col" class="px-6 py-">
                                Vbc (kV)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Vca (kV)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ia
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Ib
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ic
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                MW
                            </th>
                            <th scope="col" class="px-6 py-3 ">
                                MVAR
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Time
                            </th>

                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Vab (kV)
                            </th>
                            <th scope="col" class="px-6 py-">
                                Vbc (kV)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Vca (kV)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ia
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                Ib
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ic
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                MW
                            </th>
                            <th scope="col" class="px-6 py-3 ">
                                MVAR
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .}}
                        <tr class="border-b border-gray-200 dark:border-gray-700">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                                {{ .Bay }}
                            </th>
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                                {{ .PeakDay.Date }}
                            </th>
                            <td class="px-6 py-4">
                                {{ .PeakDay.Time }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakDay.Vab }}
                            </td>
                            <td class="px-6 py-4">
                                {{ .PeakDay.Vbc }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakDay.Vca }}
                            </td>
                            <td class="px-6 py-4 ">
                                {{ .PeakDay.Ia }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakDay.Ib }}
                            </td>
                            <td class="px-6 py-4 ">
                                {{ .PeakDay.Ic }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakDay.Mw }}
                            </td>
                            <td class="px-6 py-4">
                                {{ .PeakDay.Mvar }}
                            </td>

                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                                {{ .PeakNight.Date }}
                            </th>
                            <td class="px-6 py-4">
                                {{ .PeakNight.Time }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakDay.Vab }}
                            </td>
                            <td class="px-6 py-4">
                                {{ .PeakDay.Vbc }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakDay.Vca }}
                            </td>
                            <td class="px-6 py-4 ">
                                {{ .PeakNight.Ia }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakNight.Ib }}
                            </td>
                            <td class="px-6 py-4 ">
                                {{ .PeakNight.Ic }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakNight.Mw }}
                            </td>
                            <td class="px-6 py-4">
                                {{ .PeakNight.Mvar }}
                            </td>

                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                                {{ .AllLow.Date }}
                            </th>
                            <td class="px-6 py-4">
                                {{ .AllLow.Time }}
                            </td>
                           <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakDay.Vab }}
                            </td>
                            <td class="px-6 py-4">
                                {{ .PeakDay.Vbc }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakDay.Vca }}
                            </td>
                            <td class="px-6 py-4 ">
                                {{ .AllLow.Ia }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .AllLow.Ib }}
                            </td>
                            <td class="px-6 py-4 ">
                                {{ .AllLow.Ic }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .AllLow.Mw }}
                            </td>
                            <td class="px-6 py-4">
                                {{ .AllLow.Mvar }}
                            </td>

                        </tr>
                        {{ end }}

                    </tbody>
                </table>
            </div>
        </table>
    </div>
</div>
{{end}}


{{ block "first-column" .}}
<div id="first-column">
    <table>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                    <tr>
                        <th class="px-6 py-3">
                            TP1/25MVA
                        </th>
                    </tr>
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            TP2/25MVA
                        </th>
                    </tr>
                </thead>
                <tbody>


                </tbody>
            </table>
        </div>
    </table>
</div>
{{end}}

{{ block "monthly-table-day" .}}
<div id="monthly-table-day">
    <table>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                    <tr>
                        <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="8">
                            08:00-15:30
                        </th>

                    </tr>
                    <tr>
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Time
                        </th>

                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            VBC (kV)
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ia
                        </th>
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            Ib
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ic
                        </th>
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            MW
                        </th>
                        <th scope="col" class="px-6 py-3 ">
                            MVAR
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .}}
                    <tr class="border-b border-gray-200 dark:border-gray-700">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                            {{ .Date }}
                        </th>
                        <td class="px-6 py-4">
                            {{ .Time }}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            0
                        </td>
                        <td class="px-6 py-4 ">
                            {{.CurrentPhaseA}}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            {{.CurrentPhaseB}}
                        </td>
                        <td class="px-6 py-4 ">
                            {{.CurrentPhaseC}}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            {{.ActivePower}}
                        </td>
                        <td class="px-6 py-4">
                            {{.ReactivePower}}
                        </td>

                    </tr>
                    {{ end }}

                </tbody>
            </table>
        </div>
    </table>
</div>
{{end}}


{{ block "monthly-table-night" .}}
<div id="monthly-table-night">
    <table>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                    <tr>
                        <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="8">
                            00:00-07:30,16:00-23:30
                        </th>
                    </tr>
                    <tr>
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Time
                        </th>

                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            kV
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ia
                        </th>
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            Ib
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ic
                        </th>
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            MW
                        </th>
                        <th scope="col" class="px-6 py-3 ">
                            MVAR
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .}}
                    <tr class="border-b border-gray-200 dark:border-gray-700">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                            {{ .Date }}
                        </th>
                        <td class="px-6 py-4">
                            {{ .Time }}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            0
                        </td>
                        <td class="px-6 py-4 ">
                            {{.CurrentPhaseA}}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            {{.CurrentPhaseB}}
                        </td>
                        <td class="px-6 py-4 ">
                            {{.CurrentPhaseC}}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            {{.ActivePower}}
                        </td>
                        <td class="px-6 py-4">
                            {{.ReactivePower}}
                        </td>

                    </tr>
                    {{ end }}

                </tbody>
            </table>
        </div>
    </table>
</div>
{{end}}

{{ block "monthly-table-all" .}}
<div id="monthly-table-all">
    <table>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                    <tr>
                        <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="8">
                            00:00-23:30
                        </th>
                    </tr>
                    <tr>
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Time
                        </th>

                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            kV
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ia
                        </th>
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            Ib
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Ic
                        </th>
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                            MW
                        </th>
                        <th scope="col" class="px-6 py-3 ">
                            MVAR
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .}}
                    <tr class="border-b border-gray-200 dark:border-gray-700">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                            {{ .Date }}
                        </th>
                        <td class="px-6 py-4">
                            {{ .Time }}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            0
                        </td>
                        <td class="px-6 py-4 ">
                            {{.CurrentPhaseA}}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            {{.CurrentPhaseB}}
                        </td>
                        <td class="px-6 py-4 ">
                            {{.CurrentPhaseC}}
                        </td>
                        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                            {{.ActivePower}}
                        </td>
                        <td class="px-6 py-4">
                            {{.ReactivePower}}
                        </td>

                    </tr>
                    {{ end }}

                </tbody>
            </table>
        </div>
    </table>
</div>
{{end}}