{{ block "new-monthly" .}}
<div hx-get="/monthly-rows" hx-target="#monthly-rows" hx-swap="innterHTML" hx-trigger="load"></div>

<div class="flex">
    <div class="flex-2">
        <div>
            <!-- {{template "monthly-table-day" .}} -->
        </div>
        <div>
            <!-- {{template "monthly-table-night" .}}
            {{template "monthly-table-all" .}} -->
        </div>


    </div>
</div>

{{ end }}



{{ block "monthly-rows" .}}
<div hx-get="/time-picker" hx-target="#date-picker-input" hx-swap="outerHTML" hx-trigger="load"></div>
<div hx-get="/bay-list" hx-target="#bay-list" name="station" hx-trigger="load" hx-swap="innerHTML"></div>
<div>
    <div class="flex start-0">
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-3xl lg:text-3xl "><span
                class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Monthly Load
                Report</span>
        </h1>
    </div>
    <div id="monthly-rows">
        <table>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg  border dark:border-white/10">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400  border dark:border-white/10">
                    <thead class="text-xs text-gray-700 uppercase dark:text-gray-400  border dark:border-white/10">
                        <tr>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center border  dark:border-white/10" colspan="11">
                                <span
                                    class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                                    DAY TIME PEAK</span>

                            </th>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center border  dark:border-white/10" colspan="11">
                                <span
                                    class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                                    NIGHT TIME PEAK</span>

                            </th>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center border  dark:border-white/10" colspan="11">
                                <span
                                    class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                                    DAY&NIGHT LIGHT LOAD</span>

                            </th>
                        </tr>
                        <tr class="border  dark:border-white/10">
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="11">
                                08:00-15:30
                            </th>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="11">
                                00:00-07:30,16:00-23:30
                            </th>
                            <th class="px-6 py-3 bg-gray-50 dark:bg-gray-800 text-center" colspan="11">
                                00:00-23:30
                            </th>
                        </tr>
                        <tr class="border  dark:border-white/10">
                            
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800 border  dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3 border  dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Time
                            </th>

                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Vab (kV)
                            </th>
                            <th scope="col" class="px-6 py-">
                                Vbc (kV)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Vca (kV)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ia (A)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Ib (A)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ic (A)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                P (MW)
                            </th>
                            <th scope="col" class="px-6 py-3 ">
                               Q (MVAR)
                            </th>
                             <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                PF (%)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Time
                            </th>

                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Vab (kV)
                            </th>
                            <th scope="col" class="px-6 py-">
                                Vbc (kV)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Vca (kV)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ia (A)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Ib (A)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ic (A)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                P (MW)
                            </th>
                            <th scope="col" class="px-6 py-3 ">
                                Q (MVAR)
                            </th>
                             <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                PF (%)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Time
                            </th>

                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Vab (kV)
                            </th>
                            <th scope="col" class="px-6 py-">
                                Vbc (kV)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Vca (kV)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ia (A)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                Ib (A)
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Ic (A)
                            </th>
                            <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                P (MW)
                            </th>
                            <th scope="col" class="px-6 py-3 ">
                                Q (MVAR)
                            </th>
                             <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                PF (%)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .}}
                        <tr class="border-b  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                           
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakDay.Date }}
                            </th>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700 ">
                                {{ .PeakDay.Time }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                                {{ .PeakDay.Vab }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakDay.Vbc }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakDay.Vca }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakDay.Ia }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakDay.Ib }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakDay.Ic }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakDay.Mw }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakDay.Mvar }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakDay.P }}
                            </td>

                            <th scope="row "
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakNight.Date }}
                            </th>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700 ">
                                {{ .PeakNight.Time }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakNight.Vab }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700 ">
                                {{ .PeakNight.Vbc }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakNight.Vca }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakNight.Ia }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakNight.Ib }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakNight.Ic }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakNight.Mw }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700 ">
                                {{ .PeakNight.Mvar }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .PeakNight.P }}
                            </td>

                             <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.Date }}
                            </th>
                            <td class="px-6 py-4">
                                {{ .All.Time }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.Vab }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.Vbc }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.Vca }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.Ia }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.Ib }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.Ic }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.Mw }}
                            </td>
                            <td class="px-6 py-4  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.Mvar }}
                            </td>
                            <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800  border dark:border-white/10 border-gray-200 dark:border-gray-700">
                                {{ .All.P }}
                            </td>
                        
                        </tr>
                        {{ end }}


                    </tbody>
                </table>
            </div>
        </table>
    </div>
</div>
{{end}}



